
/*首頁背景*/
.home_background{
    background-image: url(/index.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #ffecd4;
    background-size: contain;
}

/*首頁背景*/
.auth_background{
    /* background-image: url(/authBG.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-position: center;
    background-color: #ffecd4;
    background-size: contain;
}

.circle-square{
    border-radius:50%;
}

/*首頁公告*/
.bulletin{
    background-color: #ffc06d;
    font-size:20px;
    color:white;
}

/*首頁個分類進度*/
.eat_progs{
    text-align: center;
    background-color: #f18c1c;
    font-size: 25px;
    color:white;
}
.cloth_progs{
    text-align: center;
    background-color: #d24f3a;
    font-size: 25px;
    color:white;
}
.live_progs{
    text-align: center;
    background-color: #f5d1b2;
    font-size: 25px;
    color:white;
}
.traffic_progs{
    text-align: center;
    background-color: #82b344;
    font-size: 25px;
    color:white;
}
.education_progs{
    text-align: center;
    background-color: #26978f;
    font-size: 25px;
    color:white;
}
.fun_progs{
    text-align: center;
    background-color: #4d4d4d;
    font-size: 25px;
    color:white;
}


/*首頁個分類的背景圖*/
div.eat_image::after {
    content:url(/home/eat_button.png);
    width: 100%;
    height: 100%;
}
div.cloth_image::after {
    content:url(/home/cloth_button.png);
    width: 100%;
    height: 100%;
}
div.live_image::after {
    content:url(/home/live_button.png);
    width: 100%;
    height: 100%;
}
div.traffic_image::after {
    content:url(/home/traffic_button.png);
    width: 100%;
    height: 100%;
}
div.education_image::after {
    content:url(/home/education_button.png);
    width: 100%;
    height: 100%;
}
div.fun_image::after {
    content:url(/home/fun_button.png);
    width: 100%;
    height: 100%;
}

/*食背景*/
.eat_background{
    /* background-image: url(/eatBG.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #ffecd4;
    background-size: contain;
}

/*衣背景*/
.cloth_background{
    background-image: url(/clothBG.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #ffecd4;
    background-size: contain;
}


/*住背景*/
.live_background{
    background-image: url(/liveBG.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #ffecd4;
    background-size: contain;
}

/*行背景*/
.traffic_background{
    background-image: url(/trafficBG.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #ffecd4;
    background-size: contain;
}

/*育背景*/
.education_background{
    background-image: url(/educationBG.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #ffecd4;
    background-size: contain;
}

/*樂背景*/
.fun_background{
    background-image: url(/funBG.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #ffecd4;
    background-size: contain;
}


.table tbody tr td{
    vertical-align: middle;
}
