.home_background{
    background-image: url(/indexbg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #ffecd4;
    background-size: contain;
}